<div class="container">
    <div class="jumbotron">
      <div class="toppart">
        <h1><bold>Hunter S. Thompson</bold></h1>
        <figure class="figure img-responsive center-block m">
          <a href="https://www.youtube.com/watch?v=vUgs2O7Okqc" target="_blank">
            <img src="http://www.signature-reads.com/wp-content/uploads/2014/02/hunter-s-thompson.jpg" class="figure-img img-fluid img-rounded" alt="A generic square placeholder image of Hunter S. Thompson with rounded corners in a figure.">
          </a>
          <figcaption>"There he goes. One of God's own prototypes. A high-powered mutant of some kind never even considered for mass production. Too weird to live, and too rare to die."
            <footer>
              <cite>Fear and Loathing in Las Vegas, 1971</cite>
            </footer>
          </figcaption>
        </figure>
        <br>

      </div>

      <div class='writing'>
        <h3>Fear and Loathing of Hunter S. Thompson</h3>
        <ul>
          <li><b>1937</b> - Born in Lousiville, Kentucky</li>
          <li><b>1955</b> - Jailed for abetting robbery, unable to finish high school</li>
          <li><b>1956</b> - Joins United States Air Force</li>
          <li><b>1959</b> - Joins <i>Time</i> magazine, but shortly gets fired for insubordination. </li>
          <li><b>1959</b> - Moves to Puerto Rico to write for <i>El Sportivo</i> magazine. Starts writing <i>The Rum Diary</i> and <i>Prince Jellyfish</i></li>
          <li><b>1962</b> - Travels to South America as a correspondent for the <i>National Observer</i></li>
          <li><b>1962</b> - Marries long-time girlfriend Sandra Dawn Conklin</li>
          <li><b>1964</b> - Moves to Glen Ellen, California</li>
          <li><b>1965</b> - Embeds with Hell's Angel's motorcyle club to write a story for <i>The Nation</i></li>
          <li><b>1966</b> - Writes <cite>Hell's Angels: The Strange and Terrible Saga of the Outlaw Motorcylce Gangs</cite></li>
          <li><b>1970</b> - Writes <cite>The Kentucky Derby Is Decadent and Depraved</cite> for <cite>Scanlan's Monthly</cite> and births <a href="https://en.wikipedia.org/wiki/Gonzo_journalism" target="_blank">Gonzo journalism</a></li>
          <li><b>1971</b> - Goes to Las Vegas with Oscar Zeta Acosta on assignment for <cite>Sports Illustrated</cite> to write on the Mint 400 motorcyle race. The trip becomes the basis for <a href="https://en.wikipedia.org/wiki/Fear_and_Loathing_in_Las_Vegas"
              target="_blank"><cite>Fear and Loathing in Las Vegas</cite></a></li>
          <li><b>1972</b> - Writes for <cite>Rolling Stone</cite> as a correspondent on the presidential election campaigns for Richard Nixon and Senator George McGovern. This becomes the basis for <cite>Fear and Loathing on the Campaign Trail '72</cite></li>
          <li><b>1980</b> - Writes <cite>The Curse of Lono</cite>. Divorces Sandra Conklin. The movie loosely based on Thompson's early work, <cite>Where the Buffalo Roam</cite>, is released.</li>
          <li><b>1991</b> - Publishes <cite>Screwjack & Other Stories</cite></li>
          <li><b>2000</b> - Publishes <cite>Fear and Loathing in America</cite></li>
          <li><b>2003</b> - Publishes <cite>Kingdom of Fear</cite></li>
          <li><b>2005</b> - Dies from self-inflicted gunshot wound</li>
        </ul>
      </div>
      <br>

      <div class="quote">
        <blockquote>
          <p class="ralph" align="justify">"... He told me 25 years ago that he would feel real trapped if he didn't know that he could commit suicide at any moment. I don't know if that is brave or stupid or what, but it was inevitable. I think that the truth of what rings through all
            his writing is that he meant what he said. If that is entertainment to you, well, that's OK. If you think that it enlightened you, well, that's even better. If you wonder if he's gone to Heaven or Hell, rest assured he will check out them
            both, find out which one Richard Milhous Nixon went to — and go there. He could never stand being bored. But there must be Football too — and Peacocks ..."</p>
          <footer class="m">
            <a href="https://en.wikipedia.org/wiki/Ralph_Steadman" target="_blank"><cite>Ralph Steadman</cite></a>
          </footer>
        </blockquote>

        <p class="m"><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Hunter_S._Thompson" target="_blank" role="button">Learn more</a></p>

      </div>


    </div>

    <footer class="m">
      <p>Written and coded by <a href="https://www.linkedin.com/in/ianagpawa" target="_blank">Ian Agpawa</a></p>
    </footer>

